.pointer.unexpanded, .pointer.locked {
    color: white;
    background-color: #007bff;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}

.pointer.expanded {
    color: white;
    background-color: #007bff;
    border-radius: 4px 0px 0px 4px;
    padding: 0px 3px;
    cursor: pointer;
}

.pointer.expanded.top {
    cursor: default;
}

.question::before {
    content: 'Q ';
    color: gray;
}

.answer::before {
    content: 'A ';
    color: gray;
}

.main {
    width: 100%;
}

.subQuestion.answered {
    margin-bottom: 2ex;
}

.pointer-bracket {
    font-weight: bold;
    font-size: 1.55em; /* HACK */
    color: #007bff;
}

.typeahead li.highlighted {
    background-color: rgba(187,239,253,0.3);
}

.typeahead > ul.closed {
    display: none;
}
.typeahead > ul.open {
    padding: 0;
    margin-top: 0;
    background-color: white;
    max-height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
    outline: 0;
    transition: opacity .1s ease;
    border-radius: 0 0 .28571429rem .28571429rem;
    box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
    border-color: rgb(128,189,255);
    border-top-width: 0;
    border-right-width: 1;
    border-bottom-width: 1;
    border-left-width: 1;
    border-style: solid;
}

.typeahead > ul > li {
    cursor: pointer;
    display: block;
    border: none;
    height: auto;
    text-align: left;
    border-top: none;
    line-height: 1em;
    font-size: 1rem;
    text-transform: none;
    font-weight: 400;
    box-shadow: none;
    padding: .8rem 1.1rem;
    white-space: normal;
    word-wrap: normal;
}

@media (max-width: 767px) {
    .mainContainer {
        display: grid;
        grid-template: "q"
                       "s"
                       "n"
                       "w"
                       "r";
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .mainContainer {
        display: grid;
        grid-template: "q q"
                       "x s"
                       "x n"
                       "r w";
    }
}

/* Small devices (landscape phones, 576px and up) /
@media (min-width: 576px) { ... }

/* Large devices (desktops, 992px and up) /
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) /
@media (min-width: 1200px) { ... }*/

.mainContainer {
    grid-column-gap: 1em;
    grid-row-gap: 1ex;
    margin-left: 2em;
    margin-right: 2em;
}

.nextContainer > button, .nextContainer > input {
    margin-top: 3ex;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.topLevelQuestion {
    grid-area: q;
}

.subQuestions {
    grid-area: s;
}

.reply {
    grid-area: r;
}

.newQuestion {
    grid-area: n;
}

.wait {
    grid-area: w;
}
