.pointer {
    color: white;
    background-color: blue;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}

.question::before {
    content: 'Q ';
    color: gray;
}

.answer::before {
    content: 'A ';
    color: gray;
}

.main {
    width: 100%;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .mainContainer {
        display: grid;
        grid-template: "q"
                       "s"
                       "n"
                       "w"
                       "r";
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .mainContainer {
        display: grid;
        grid-template: "q q"
                       "x s"
                       "x n"
                       "r w";
    }
}

/* Large devices (desktops, 992px and up) /
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) /
@media (min-width: 1200px) { ... }*/

.mainContainer {
    grid-column-gap: 1em;
    grid-row-gap: 1ex;
    margin-left: 2em;
    margin-right: 2em;
}

.nextContainer > button, .nextContainer > input {
    margin-top: 3ex;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.topLevelQuestion {
    grid-area: q;
}

.subQuestions {
    grid-area: s;
}

.reply {
    grid-area: r;
}

.newQuestion {
    grid-area: n;
}

.wait {
    grid-area: w;
}
